<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      Generali fit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <img src="/assets/generali.png" />

  </ion-card>


  <ion-list lines="none">
    <ion-list-header>
      <h3>Perfil</h3>
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">

        <img *ngIf='this.user.sexo=="Hombre"' src="../../../assets/profiles/man_profile.jpg">
        <img *ngIf='this.user.sexo=="Mujer"' src="../../../assets/profiles/woman_profile.jpg">

      </ion-avatar>
      <ion-label>{{this.user.nombre}} {{this.user.apellido}}</ion-label>
    </ion-item>

    <ion-icon slot="start" color="medium"></ion-icon>
    <h6>Edad: {{this.edad}} años</h6>
    <h6>Sexo: {{this.user.sexo}}</h6>
    <h6>Peso: {{this.user.peso}} kg</h6>
    <h6>Altura: {{this.user.altura}} m</h6>
    <ion-progress-bar></ion-progress-bar>


    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="dia">
        <ion-label>Día</ion-label>
      </ion-segment-button>
      <ion-segment-button value="semana">
        <ion-label>Semana</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mes">
        <ion-label>Mes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ano">
        <ion-label>Año</ion-label>
      </ion-segment-button>
    </ion-segment>