<ion-header>
  <ion-toolbar>
    <ion-title>
      Generali fit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id ="chart_div"></div>
 
  <ion-list>
    
    <br>
    <ion-label style="text-align:center;">
      <p>Aprovecha tu actividad física, buenos hábitos 
        y salud para obtener descuentos en tus cuotas mensuales.</p>
      
    </ion-label>
  
  
    <ion-item></ion-item>
    
    <ion-item>
      <ion-label>
        <ion-title>
          Contratar seguro extra
        </ion-title>
      </ion-label>
      <ion-toggle style="--background-checked: #fab7bd;
                          --handle-background-checked: #B40C1B;"
                   [(ngModel)]="mushrooms"></ion-toggle>
    </ion-item>
    <br>
  
    <ion-label style="text-align:center;">
      <p>- Consigue hasta un 30% de descuento!</p>
      <p>- Consejos personalizados para mejorar tu salud</p>
      <p>- Productos personalizados</p>
      <p>- Regala % de descuento a tus amigos!</p>
    </ion-label>


  </ion-list>
  
</ion-content>
